.btn {
    margin: 0;
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background: #66D2CF;
    border-radius: 6px;
    border:3px solid transparent;
    padding: 15px 30px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    color: #66D2CF;
    background-color: white;
    border: 3px solid #66D2CF;
}