.work {
    padding: 0 20px;
    margin-bottom: 200px;

    &--container {
        // background-image: url("../../images/background-color.png");
        // background-repeat: no-repeat;
        // background-size: contain;
        max-width: 1320px;
        margin: 0 auto;
        background: #2C343E;
        border-radius: 10px;   
        height: 60vh; 
        margin-bottom: 400px;

    }

    &__boxs {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 20px;


        
    }

    &__img-coffee {
        margin-bottom: 56px;
        padding-top: 72px;
    }

    &__wrappr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // position: relative;
    }

    &__top {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    &__heading {
        margin: 0;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
        margin-top: 100px;
        margin-bottom: 32px;
    }

    &__text {
        margin: 0;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        opacity: 0.8;
        max-width: 540px;
        margin-bottom: 86px;

    }

    &--right-pochta {
        padding-top: 83px;
        margin-bottom: 67px;
    }

    &__title {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
    }

    &__box {
        margin: 0;
        background: #0E8784;
        border-radius: 8px;
        max-width: 350px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 350px;
        
    }

    &__texts {
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
        max-width: 255px;
        padding-bottom: 48px;
        
    }

    
}

@media only screen and (max-width: 1067px) {
    .work {
        &__wrappr {
            display: flex;
            align-items: center;
            flex-direction: column;

        }

        &--container {
            margin-bottom: 1350px;
            height: 115vh;
        }

        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__heading {
            font-size: 32px;
        }

        &__text {
            font-size: 15px;
        }

        &__box + &__box {
            margin-top: 30px;
        }

        
    }
}

@media only screen and (max-width: 400px) {
    .work {
        &__box {
            width: 270px;
        }
    }
}
